body {
    margin: 0;
    font-family: 'Cabin', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #606060;
}

.App {
    margin: 5px 0px;
    background-color: #fafbfc;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 10px);
}

header {
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f0f1f2;
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #0033a0;
}

header h2 {
    font-size: 1.2rem;
}

main {
    padding: 40px 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 40% 30% 25%;
    grid-template-rows: auto auto 40vmin;
    grid-template-areas:
        "time time time"
        "name name name"
        "values graph graph";
}

main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

main section:first-child {
    grid-area: time;
    flex-direction: column;
}

main section:first-child h3 {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}

main section:first-child h2 {
    padding: 10px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 10px;
    border: 2px solid #e3e829;
    border-radius: 5px;
}

main section:first-child button {
    padding: 20px;
    margin: 20px auto;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #e3e829;
    color: #0033a0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    border-radius: 4px;
    width: 250px;
}

main section:nth-child(2) {
    grid-area: name;
}

main section:nth-child(2) h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #0033a0;
}

main section:nth-child(3) {
    grid-area: values;
    display: flex;
    flex-direction: column;
    text-align: center;
}

main section:nth-child(3) h4 {
    padding-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

main section:last-child {
    width: 100%;
    grid-area: graph;
}

footer {
    padding-top: 10px;
    background-color: white;
    border-top: 2px solid #f0f1f2;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer .footer-title {
    padding: 0 40px;
    color: #0033a0;
    font-weight: bold;
}

footer .footer-section {
    padding: 0 15px;
}

footer .footer-section p.caption {
    font-size: 0.9rem;
    color: #808182;
    margin-bottom: 7px;
    text-align: center;
}

footer .footer-section p.bold {
    text-align: center;
    font-weight: bold;
}
/*************(Media Queries)***************/

@media (max-width: 1080px) {
    .App {
        height: calc(100% - 10px);
    }

    main {
        padding: 5px;
        gap: 10px;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "time"
            "name"
            "values"
            "graph";
    }
}

@media (max-width: 600px) {    
    header, footer {
        flex-direction: column;
        align-items: center;
    }
}